* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html::-webkit-scrollbar {
    width: 9px;
}

html::-webkit-scrollbar-track {
    background-color:rgb(38, 38, 38);
    border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #89470d 0%,#ab8752 50%, #89470d 100%);
    border-radius: 100px;
}

body {
    background: #171717;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; /* 100-900 */
  font-style: normal;
}

.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* 400-900 */
  font-style: normal;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.logo img {
    width: 48px;
    height: 48px;
    display: inline;
    background-color: transparent;
}

.logo_text {
    display: inline;
    margin-left: 10px;
    margin-top: 16px;
    background-color: transparent;
}

.logo_text h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 400-900 */
    font-style: normal;
    color: #edf0f1;
    font-size: 2rem;
}

.nav_links li, .nav_links a, .cart_section select, .cart_section a, .cart button {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    background-color: transparent;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 10px 5.5%;
    background-color: transparent;
}

.nav_links {
    list-style: none;
    background-color: transparent;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: transparent;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    background-color: transparent;
}

.nav_links li a:hover {
    color: #c0a570;
}

.cart button {
    padding: 10px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: transparent;
}

.cart button:hover {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
}

.currency_dropdown option {
    background-color: black;
}

.cart button img {
    /* filter: invert(0.5); */
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.cart_section {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.cart_section select {
    margin: 10px 20px 10px 0px;
    padding: 10px 5px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}

.cart_section select:hover {
    background-color: rgba(255,255,255,0.09);
    border-radius: 5px;

}

hr {
    height: 0.5px;
    color: grey;
    background: grey;
    font-size: 0;
    border: 0;
    margin-left: 5%;
    width: 90%;
}

header {
    background-image: url("static/cover.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(0.667 * 70vw);
    /* max-height: 60vw; */
}

nav {
    background-color: transparent;
}

.page_heading {
    color: #edf0f1;
    padding: calc(0.667*13vw) 5% 0px 5.5%;
    max-width: 45vw;
}

.page_heading h6 {
    /* color: #edf0f1; */
    color: #c0a570;
    font-family: "Montserrat", sans-serif;
    font-weight: 450; /* 100-900 */
    font-style: normal;
    /* font-size: 1em; */
    font-size: 0.8vw;
    letter-spacing: 2px;
}

.page_heading h2 {
    font-family: "Cinzel", serif;
    font-weight: 400; /* 400-900 */
    font-style: normal;
    /* color: #edf0f1; */
    /* font-size: 4em; */
    font-size: 3.5vw;
    margin-top: 3%;
}

.shop_now {
    margin-top: 6%;
    display: inline-block;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 250; /* 100-900 */
    font-style: normal;
    font-size: 1rem;
    padding: 2.5% 5% 2.5% 5%;
    background-color: rgba(255,255,255,0.1);
    border: none;
    cursor: pointer;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease 0s;
    /* filter: invert(0.1); */
    color: #edf0f1;
}

.shop_now img {
    width: 12px;
    height: 12px;
    background-color: transparent;
    filter: invert(1);
    margin-left: 7.5px;
    /* float: left; */
    /* margin-left: 1%; */
    /* align-items: center; */
}

.shop_now:hover {
    background-color: #3f5a8f;
    filter: invert(1);
}

.middle_section h6 {
    color: #c0a570;
    font-family: "Montserrat", sans-serif;
    font-weight: 450; /* 100-900 */
    font-style: normal;
    /* font-size: 1em; */
    font-size: 0.8vw;
    letter-spacing: 2px;
}

.middle_section h3 {
    font-family: "Cinzel", serif;
    font-weight: 500; /* 400-900 */
    font-style: normal;
    /* color: #edf0f1; */
    /* font-size: 4em; */
    font-size: 2.2vw;
    margin-top: 3%;
}

.middle_section p {
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; /* 100-900 */
    font-style: normal;
    /* font-size: 1em; */
    font-size: 0.9rem;
    line-height: 2.25;
    margin: 4% 0px 3% 0px;
    max-width: 30vw;
}

.learn_more {
    margin-top: 5%;
    display: inline-block;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 250; /* 100-900 */
    font-style: normal;
    font-size: 1rem;
    /* padding: 3.5% 7% 3.5% 7%; */
    padding: 2.5% 5% 2.5% 5%;
    background-color: rgba(255,255,255,0.1);
    /* border: 1px solid white; */
    border: none;
    cursor: pointer;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease 0s;
    /* filter: invert(0.1); */
    color: #edf0f1;
}

.learn_more img {
    width: 12px;
    height: 12px;
    background-color: transparent;
    filter: invert(1);
    margin-left: 7.5px;
    /* float: left; */
    /* margin-left: 1%; */
    /* align-items: center; */
}

.middle_images {
    margin-left: 5%;
}

.learn_more:hover {
    background-color: #3f5a8f;
    filter: invert(1);
}

.middle_1 {
    width: 37vw;
    height: auto;
}

.middle_2 {
    width: 41vw;
    height: auto;
    margin-top: 2%;
}

.middle_section {
    color: #edf0f1;
    padding: calc(0.667*8vw) 0px 50px 5.5%;
    display: flex;
    justify-content: left;
}

.middle_text {
    max-width: 45vw;
    padding: 0% 5% 50px 0px;
}

.inner_div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.popular_collections {
    padding: calc(0.667*9vw) 0% 0px 0%;
    margin-bottom: 10%;
}

.collection_heading {
    display: flex;
    justify-content: left;
    padding: 0% 5%;
}

.popular_collections h6 {
    color: #c0a570;
    font-family: "Montserrat", sans-serif;
    font-weight: 450; /* 100-900 */
    font-style: normal;
    /* font-size: 1em; */
    font-size: 0.8vw;
    letter-spacing: 2px;
}

.popular_collections h3 {
    color: #edf0f1;
    font-family: "Cinzel", serif;
    font-weight: 500; /* 400-900 */
    font-style: normal;
    /* color: #edf0f1; */
    /* font-size: 4em; */
    font-size: 2.2vw;
    margin-top: 1%;
}

.go_to_shop {
    display: inline-block;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 250; /* 100-900 */
    font-style: normal;
    font-size: 1rem;
    padding: 1% 2% 1% 2%;
    background-color: rgba(255,255,255,0.1);
    border: none;
    cursor: pointer;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease 0s;
    /* filter: invert(0.1); */
    color: #edf0f1;

    position: absolute;
    right: 7.5%;
}

.go_to_shop img {
    width: 12px;
    height: 12px;
    background-color: transparent;
    filter: invert(1);
    margin-left: 7.5px;
    /* float: left; */
    /* margin-left: 1%; */
    /* align-items: center; */
}

.go_to_shop:hover {
    background-color: #3f5a8f;
    filter: invert(1);
}

.testimonials {
    height: 400px;
}

.socials {
    margin-top: 1%;
}

.socials img {
    height: 25px;
    width: auto;
    filter: invert(1);
    margin-left: 0.5%;
    margin-right: 0.5%;
}

footer {
    background-image: url(static/footer-background.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.75%;
    /* padding: 1%; */
    border: none;
}

.contact_info {
    font-family: "Montserrat", sans-serif;
    font-weight: 150; /* 100-900 */
    font-style: normal;
    color: #edf0f1;
    font-size: 1rem;
    line-height: 1.75;
}

.footer_container {
    background-color: rgba(0,0,0,0.8);
    padding: 5% 0% 2.5% 0%;
    height: auto;
    backdrop-filter: blur(7.5px);
    color:#edf0f1;
}

.contact_info {
    padding: 2% 0% 0% 0%;
    text-align: center;
}

.contact_info p, .contact_info a {
    letter-spacing: 1px;
    text-decoration: none;
    color:#edf0f1;
}

.newsletter {
    width: 50%;
}

.page_directory {
    margin-left: 0%;
    width: 50%;
}

.page_directory ul {
    list-style: none;
}

.page_directory li, .page_directory a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #edf0f1;
    line-height: 2.25;
}

.inner_footer_container {
    padding: 0% 5% 0% 5%;
    display: flex;
    margin-bottom: 4%;
}

.page_directory h5 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 400-900 */
    font-style: normal;
    margin-bottom: 3%;
    font-size: 90%;
}

#directory_line {
    height: 0.5px;
    color: grey;
    background: grey;
    font-size: 0;
    border: 0;
    margin-left: 0%;
    width: 100%;
    margin-bottom: 3%;
}

.directory_list {
    columns: 3;
}

.newsletter h4 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 400-900 */
    font-style: normal;
    font-size: 1.8rem;
    margin-bottom: 2%;
}

.newsletter input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* 100-900 */
    font-style: normal;
    color:#171717;
    font-size: 0.9rem;
}

.newsletter input {
    display: inline;
    border: none;
    height: 2.9rem;
    padding-left: 20px;
    width: 25%;
    min-width: 275px;
    /* max-width: 40vw; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100-900 */
    font-style: normal;
    font-size: 0.9rem;
}

.newsletter_inner_div {
    display: flex;
}

.subscribe_button {
    display: inline;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 250; /* 100-900 */
    font-style: normal;
    font-size: 0.9rem;
    height: 2.9rem;
    padding: 0% 3.5% 0% 3.5%;
    background-color: rgba(255,255,255,0.1);
    border: none;
    cursor: pointer;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease 0s;
    color: #edf0f1;
    margin-left: 1%;
}

.subscribe_button:hover {
    background-color: #3f5a8f;
    filter: invert(1);
}

.baguette_picture {
    position: relative;
    height: 0px;
}

.transparent_baguette {
    position: absolute;
    bottom: 0px;
    left: 0px;
    filter: grayscale(0);
    width: 10vw;
}

.transparent_cookie {
    position: absolute;
    bottom: 0px;
    left: 6vw;
    filter: grayscale(0.1);
    width: 17.5vw;
}

.card img {
    /* height: 500px; */
    width: 100%;
    /* object-fit: cover; */
    object-fit: cover;
}

.card {
    list-style: none;
    height: 100%;
    /* width: 100%; */
    cursor: pointer;
    filter: grayscale(0.2);
    transition: all 0.25s ease 0s;
}

.card:hover {
    padding: 0.5%;
    filter: grayscale(0);
}

.carousel {
    transition: all 0.25s ease 0s;
    scroll-behavior: smooth;
}

.card h5 {
    color:#edf0f1;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 400-900 */
    font-style: normal;
    font-size: 1.15rem;
    padding-top: 0.5%;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 20px);
    gap: 20px;
    overflow: hidden;
    padding: 3% 5% 3% 5%;
}

.card_slider {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
}

.card_slider i {
    height: 50px;
    width: 50px;
    background: rgb(188, 164, 116);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.45);
    font-size: 1.25rem;
    transition: all 0.25s ease 0s;
    color: #ffffff;
    z-index: 1;
}

.card_slider i:hover {
    background: rgb(164, 141, 95);
}

.card_slider i:first-child {
    left: 25px;
}

.card_slider i:last-child {
    right: 25px;
}

@media screen and (max-width: 900px) {
    .carousel {
        grid-auto-columns: calc((100% / 3) - 20px);
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        grid-auto-columns: calc((100% / 2) - 20px)
    }
}